version: '2'

services:
  app:
    container_name: xzonebet-api-app
    image: docker.io/bitnami/laravel:9
    command:  bash -c "composer install && php artisan key:generate && php artisan optimize && php artisan serve --host 0.0.0.0 --port 8000"
    ports:
      - '8000:8000'
    environment:
      - APP_NAME=portfolio
      - APP_ENV=production
      - DB_HOST=db-mysql-arkarbo-portfolio-do-user-11803527-0.b.db.ondigitalocean.com
      - DB_PORT=25060
      - DB_USERNAME=arkarbo
      - DB_DATABASE=portfolio
      - DB_PASSWORD='AVNS_F9Xa4j2lm8OslGvq_jJ'
    volumes:
      - './:/app'
