name: Deploy  on DO Droplet
on:
  push:
    branches: main
jobs:
  deploy:
    runs-on: ubuntu-22.04
    if: github.event_name == 'push'
    steps:
      -
        name: Deploy to Digital Ocean droplet via SSH action
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSHKEY }}
          port: 8000
          passphrase: ${{ secrets.PASSPHRASE }}
          envs: [{{ secrets.DIGITALOCEAN_ACCESS_TOKEN }},GITHUB_SHA]
          script: |
            #stop all containers
            docker kill $(docker ps -q)

            #remove all containers
            docker rm $(docker ps -a -q)

            #remove all docker images
            docker rmi $(docker images -q)

            cd portfolio
            git pull
            docker-compose up --build




