name: Deploy on DO Droplet
on:
  push:
    branches: main
jobs:
  deploy:
    runs-on: ubuntu-22.04
    if: github.event_name == 'push'
    steps:
      - name: Deploy to Digital Ocean droplet vir SSH action
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.HOST }}
          port: 8000
          username: ${{ secrets.USERNAME }}
          passphrase: ${{ secrets.PASSPHRASE }}
          key: ${{ secrets.SSHKEY }}
          script: |
            whoami
            ls -al
